In [36]:
import json
import requests
import urllib

### 트레이닝 데이터 읽기
with open("train_data.json") as fp:
    training_data = json.load(fp)

### 챔피언 데이터 읽기
with urllib.request.urlopen('http://ddragon.leagueoflegends.com/cdn/6.24.1/data/en_US/champion.json') as response:
    champion_info = json.loads(response.read())

### 테스트 인풋 데이터 읽기
with open("test.input.json") as fp:
    testing_data = json.load(fp)
    
### 테스트 아웃풋 데이터 읽기
with open("test.output") as fp:
    y = fp.read().splitlines()
    y = [int(i) for i in y]

In [3]:
training_data[0]

{'matchDuration': 1784,
 'participants': [{'championId': 238,
   'stats': {'assists': 1,
    'deaths': 10,
    'goldEarned': 8849,
    'items': [3035, 3153, 3134, 0, 3117, 0, 3341],
    'kills': 2,
    'minionsKilled': 175,
    'totalDamageDealt': 112312,
    'totalDamageDealtToChampions': 18107,
    'totalDamageTaken': 21151,
    'totalHeal': 713,
    'totalTimeCrowdControlDealt': 142,
    'wardsPlaced': 4},
   'summonerId': 179,
   'teamId': 100},
  {'championId': 412,
   'stats': {'assists': 12,
    'deaths': 6,
    'goldEarned': 7739,
    'items': [3401, 3222, 2043, 2049, 1028, 3117, 3341],
    'kills': 2,
    'minionsKilled': 26,
    'totalDamageDealt': 20902,
    'totalDamageDealtToChampions': 9042,
    'totalDamageTaken': 21791,
    'totalHeal': 1422,
    'totalTimeCrowdControlDealt': 131,
    'wardsPlaced': 20},
   'summonerId': 178,
   'teamId': 100},
  {'championId': 236,
   'stats': {'assists': 6,
    'deaths': 5,
    'goldEarned': 11497,
    'items': [1055, 1055, 3031, 3254, 3046, 1036, 3342],
    'kills': 8,
    'minionsKilled': 185,
    'totalDamageDealt': 139159,
    'totalDamageDealtToChampions': 19974,
    'totalDamageTaken': 21835,
    'totalHeal': 2119,
    'totalTimeCrowdControlDealt': 169,
    'wardsPlaced': 5},
   'summonerId': 724,
   'teamId': 100},
  {'championId': 117,
   'stats': {'assists': 5,
    'deaths': 8,
    'goldEarned': 8124,
    'items': [3255, 3165, 3191, 1056, 1052, 1026, 3340],
    'kills': 3,
    'minionsKilled': 133,
    'totalDamageDealt': 71476,
    'totalDamageDealtToChampions': 12117,
    'totalDamageTaken': 17357,
    'totalHeal': 1083,
    'totalTimeCrowdControlDealt': 440,
    'wardsPlaced': 5},
   'summonerId': 553,
   'teamId': 100},
  {'championId': 20,
   'stats': {'assists': 7,
    'deaths': 6,
    'goldEarned': 9043,
    'items': [3725, 2049, 3102, 3024, 3111, 1029, 3364],
    'kills': 3,
    'minionsKilled': 32,
    'totalDamageDealt': 112805,
    'totalDamageDealtToChampions': 11765,
    'totalDamageTaken': 36657,
    'totalHeal': 10975,
    'totalTimeCrowdControlDealt': 564,
    'wardsPlaced': 10},
   'summonerId': 1577,
   'teamId': 100},
  {'championId': 421,
   'stats': {'assists': 12,
    'deaths': 2,
    'goldEarned': 12124,
    'items': [3717, 3111, 3075, 3022, 3082, 1011, 3361],
    'kills': 5,
    'minionsKilled': 41,
    'totalDamageDealt': 163418,
    'totalDamageDealtToChampions': 19171,
    'totalDamageTaken': 38184,
    'totalHeal': 13896,
    'totalTimeCrowdControlDealt': 912,
    'wardsPlaced': 7},
   'summonerId': 1406,
   'teamId': 200},
  {'championId': 22,
   'stats': {'assists': 10,
    'deaths': 6,
    'goldEarned': 11287,
    'items': [3140, 3031, 3046, 3006, 1055, 1055, 3340],
    'kills': 8,
    'minionsKilled': 142,
    'totalDamageDealt': 102425,
    'totalDamageDealtToChampions': 21119,
    'totalDamageTaken': 17776,
    'totalHeal': 2121,
    'totalTimeCrowdControlDealt': 1299,
    'wardsPlaced': 4},
   'summonerId': 1535,
   'teamId': 200},
  {'championId': 103,
   'stats': {'assists': 6,
    'deaths': 3,
    'goldEarned': 14350,
    'items': [1056, 3157, 3165, 3255, 1052, 3285, 3340],
    'kills': 13,
    'minionsKilled': 227,
    'totalDamageDealt': 180719,
    'totalDamageDealtToChampions': 28064,
    'totalDamageTaken': 17191,
    'totalHeal': 5123,
    'totalTimeCrowdControlDealt': 73,
    'wardsPlaced': 10},
   'summonerId': 2448,
   'teamId': 200},
  {'championId': 63,
   'stats': {'assists': 13,
    'deaths': 4,
    'goldEarned': 10539,
    'items': [2049, 3285, 3165, 3158, 3098, 1058, 3341],
    'kills': 4,
    'minionsKilled': 56,
    'totalDamageDealt': 62570,
    'totalDamageDealtToChampions': 18610,
    'totalDamageTaken': 11771,
    'totalHeal': 741,
    'totalTimeCrowdControlDealt': 28,
    'wardsPlaced': 12},
   'summonerId': 1420,
   'teamId': 200},
  {'championId': 150,
   'stats': {'assists': 6,
    'deaths': 3,
    'goldEarned': 11058,
    'items': [3153, 3143, 2003, 3265, 1033, 1028, 3361],
    'kills': 5,
    'minionsKilled': 189,
    'totalDamageDealt': 129340,
    'totalDamageDealtToChampions': 13789,
    'totalDamageTaken': 19372,
    'totalHeal': 3527,
    'totalTimeCrowdControlDealt': 583,
    'wardsPlaced': 14},
   'summonerId': 3440,
   'teamId': 200}],
 'teams': [{'baronKills': 0,
   'dragonKills': 1,
   'firstBaron': False,
   'firstBlood': False,
   'firstDragon': True,
   'teamId': 100,
   'winner': False},
  {'baronKills': 1,
   'dragonKills': 3,
   'firstBaron': True,
   'firstBlood': True,
   'firstDragon': False,
   'teamId': 200,
   'winner': True}]}

In [4]:
# champion_info  뭔지 모르겠다..

In [5]:
training_data[0].keys()

dict_keys(['matchDuration', 'teams', 'participants'])

In [6]:
matchDuration = [training_data[j]['matchDuration'] for j in range(len(training_data))]

In [7]:
teams = [training_data[j]['teams'] for j in range(len(training_data))]

In [8]:
participants = [training_data[j]['participants'] for j in range(len(training_data))]
test_participants = [testing_data[j]['participants'] for j in range(len(testing_data))]

In [9]:
def fun_winner(team):
    a_100 = team[0]['winner']
    a_200 = team[1]['winner']
    if a_100 == True:
        return 100
    if a_200 == True:
        return 200
    
winner_team = list(map(fun_winner,teams))

In [10]:
winner_team[:5]

[200, 200, 100, 100, 200]

In [11]:
teams_100 = [teams[j][0]for j in range(len(training_data))]
teams_200 = [teams[j][1] for j in range(len(training_data))]

In [12]:
import pandas as pd
matchDuration = pd.DataFrame(matchDuration)
teams100 = pd.DataFrame(teams_100)
teams200 = pd.DataFrame(teams_200)

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [13]:
teams100.columns = 'baronKills1', 'dragonKills1', 'firstBaron1', 'firstBlood1', 'firstDragon1','teamId1', 'winner1'

In [14]:
teams200.columns = 'baronKills2', 'dragonKills2', 'firstBaron2', 'firstBlood2', 'firstDragon2','teamId2', 'winner2'

In [15]:
Teams = pd.concat([teams100,teams200, matchDuration], axis=1)

In [16]:
Teams.head()

,baronKills1,dragonKills1,firstBaron1,firstBlood1,firstDragon1,teamId1,winner1,baronKills2,dragonKills2,firstBaron2,firstBlood2,firstDragon2,teamId2,winner2,0
0,0,1,False,False,True,100,False,1,3,True,True,False,200,True,1784
1,0,1,False,True,True,100,False,0,2,False,False,False,200,True,1525
2,1,3,True,False,False,100,True,0,1,False,True,True,200,False,1896
3,0,2,False,True,False,100,True,0,1,False,False,True,200,False,1590
4,0,1,False,True,True,100,False,1,3,True,False,False,200,True,2299

In [18]:
def func_char(part):
    a = [part[i]['championId'] for i in range(10)]
    return a
Participants = list(map(func_char,participants))
test_Participants = list(map(func_char,test_participants))

In [19]:
a = sum(Participants,[])
len(set(a)) # 챔피언(캐릭터) 종류는 125개

125

In [20]:
Participants[0] # 게임당 5캐릭 + 5캐릭

[238, 412, 236, 117, 20, 421, 22, 103, 63, 150]

In [21]:
def func_id(part):
    a = [part[i]["summonerId"] for i in range(10)]
    return a
player_id = list(map(func_id,participants))
test_player_id = list(map(func_id,test_participants))

In [22]:
player_id[0] # 게임당 5아이디 + 5아이디

[179, 178, 724, 553, 1577, 1406, 1535, 2448, 1420, 3440]

In [23]:
print(test_Participants[0])
print(test_player_id[0])

[236, 28, 111, 13, 8, 69, 120, 254, 201, 222]
[1420, 835, 1607, 650, 1284, 4748, 913, 250, 286, 1436]

In [35]:
player = pd.DataFrame(player_id)
parti = pd.DataFrame(Participants)
participant_df = pd.concat([player, parti], axis=1)

test_player = pd.DataFrame(test_player_id)
test_parti = pd.DataFrame(test_Participants)
test_participant_df = pd.concat([test_player, test_parti], axis=1)


Y = pd.DataFrame(winner_team)

In [25]:
participant_df.columns = ['i0','i0','i0','i0','i0','i1','i1','i1','i1','i1','0','0','0','0','0','1','1','1','1','1']
test_participant_df.columns = ['i0','i0','i0','i0','i0','i1','i1','i1','i1','i1','0','0','0','0','0','1','1','1','1','1']

In [26]:
participant_df.head(1)

,i0,i0,i0,i0,i0,i1,i1,i1,i1,i1,0,0,0,0,0,1,1,1,1,1
0,238,412,236,117,20,421,22,103,63,150,179,178,724,553,1577,1406,1535,2448,1420,3440

In [27]:
test_participant_df.head(1)

,i0,i0,i0,i0,i0,i1,i1,i1,i1,i1,0,0,0,0,0,1,1,1,1,1
0,236,28,111,13,8,69,120,254,201,222,1420,835,1607,650,1284,4748,913,250,286,1436

In [28]:
train = participant_df 
#pd.concat([participant_df, Teams], axis=1)
test = test_participant_df
#pd.concat([test_participant_df, Teams], axis=1)

#### 플레이어 아이디 & 캐릭터

In [37]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(random_state=0)
clf.fit(train, winner_team)
y_pred = clf.predict(test)
print("Accuracy: {}".format(accuracy_score(y, y_pred)))

Accuracy: 0.8245

#### 플레이어 아이디

In [399]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(random_state=0)
clf.fit(player, winner_team)
y_pred = clf.predict(test_player)
print("Accuracy: {}".format(accuracy_score(y, y_pred)) )

Accuracy: 0.8445

#### 캐릭터

In [400]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(random_state=0)
clf.fit(parti, winner_team)
y_pred = clf.predict(test_parti)
print("Accuracy: {}".format(accuracy_score(y, y_pred)) )

Accuracy: 0.846